/* Body style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: black;
    text-align: center;
    background-image: url(../images/backgroundimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Quiz layout */

.quiz{
    text-align: center;
    display: block;
    width: 80%;
    height: 80vh;
    background: linear-gradient(to bottom, #00cc66 0%, #ffff99 100%);
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
}

.info-area{
    padding-top: 20px;
}


#username{
    height: 50px;
    width: 200px;
}

:placeholder-shown{
    text-align: center;
}

.social-media{
    margin-top: 50px;
}

.fa.fa-github-square{
    font-size: 50px !important;
    color: black;
}

#select-level{
    display: none;
}

/* This code below was taken from stackoverflow */

label {
    display: inline-block;
    width: 160px;
}

/* Questions Area */

#beginner-question{
    display: none;
}

#intermediate-questions{
display: none;
}

#advanced-questions{
display: none;
}

/* score area */

.score-area {
    margin: 7px auto;
    width: 60%;
    font-size: 1.3rem;
    display: none;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 30px;
}

/* buttons*/

#my-level-btn{
    width: 80px;
    height: 40px;
}

#beginner-question-btn{
    width: 80px;
    height: 40px;
}

#intermediate-question-btn{
    width: 80px;
    height: 40px;
}

#advanced-question-btn{
    width: 80px;
    height: 40px;
}

#back{
    display: none;
    margin-top: 30px;
}

.btn{
    height: 30px;
    width: 100px;
    background-color: lightgrey;
    margin-top: 15px;
}

.bn{
    height: 50px;
    width: 100px;
    background-color: lightyellow;
}
  
/* Media Queries */

/* for larger to medium screen size from 950px wide and open */
@media screen and (max-width: 950px){
    .quiz{
        width: 90%;
        height: 90vh;
        font-size: large;
    }
    .scores {
        padding: 10px;
    }
}

/* for medium screen size from 600px wide and open */
@media screen and (max-width: 600px){
    .heading {
        text-align: center;
        font-size: 1.5rem;
    }
    .quiz{
        width: 90%;
        height: 90vh;
    }
    .scores {
        padding: 5px;
    }
}